---
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { Links } from "@/types/Links";

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/");
}

const req = await fetch(`${Astro.url.origin}/api/getLinks.json?id=${id}`);

if (!req.ok) {
  return Astro.redirect("/");
}

const { data }: { data: Links } = await req.json();
if (!data) {
  return Astro.redirect("/");
}
---

<BaseLayout>
  <form id="add-form" class="grid gap-4">
    <div class="grid">
      <label for="title">Link Title</label><input
        value={data.title}
        required
        type="text"
        name="title"
        id="title"
      />
    </div>
    <div class="grid">
      <label for="description">Description for Link (160ch max)</label>
      <textarea required name="description" maxlength="160" id="description"
        >{data.description}</textarea
      >
    </div>
    <div class="grid">
      <label for="url">Link URL</label><input
        value={data.url}
        required
        type="text"
        name="url"
        id="url"
      />
    </div>
    <flex class="gap-6 flex flex-wrap">
      <div class="grid max-w-fit">
        <label for="rating">Rating (1-5)</label><input
          value={data.rating}
          required
          max="5"
          min="1"
          type="number"
          name="rating"
          id="rating"
        />
      </div>
      <div class="grid max-w-fit">
        <label for="isRead">Is Read</label><input
          checked={data.isRead}
          type="checkbox"
          name="isRead"
          id="isRead"
        />
      </div>
    </flex>

    <button class="bg-blue-500 text-blue-50 p-6 py-2 max-w-fit">Update Link</button
    >
  </form>
</BaseLayout>

<script
  define:vars={{
    id,
  }}
>
  const addForm = document.querySelector("#add-form");
  addForm.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(addForm);

    const values = Object.fromEntries(formData);

    try {
      const res = await fetch(`/api/${id}.json`, {
        method: "PATCH",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(values),
      });
      const { success, message } = await res.json();
      if (success) {
        addForm.reset();
        alert("Link updated successfully!");
        window.location.href = `/link/${id}`;
      } else {
        throw new Error(message);
      }
    } catch (error) {
      console.error(error);
    }
  });
</script>
